autopep8==1.4.4
beautifulsoup4==4.8.0
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
idna==2.8
lxml==4.4.1
lxml-xpath-ipaddress==0.2.0
pip==19.2.3
prompt-toolkit==2.0.9
pyasn1==0.4.7
pycodestyle==2.5.0
Pygments==2.4.2
requests==2.22.0
rsa==4.0
setuptools==41.2.0
six==1.12.0
soupsieve==1.9.3
urllib3==1.25.3
wcwidth==0.1.7
websocket-client==0.56.0
